.businessCardMap {
  width: 18rem;
  margin-top: 15px;
  border: none !important;
}
.businessCardMap a {
  color: white;
}
.businessCardMap .businessImageMap {
  height: 200px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}

.modalContainer {
  width: 500px;
}
.modalContainer .modalImg {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.ratingStars {
  color: #35c68f;
}

.valorationMessage {
  cursor: pointer;
}