.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.row .profileNavbar {
  padding-top: 20px;
  height: 100vh;
  background-color: #121212;
  overflow: hidden;
  position: fixed;
  display: block;
}
.row .profileNavbar .row {
  color: white;
}
.row .profileNavbar a {
  text-decoration: none;
}
.row .profileNavbar a :hover {
  transition: color 0.15s ease-in-out 0s;
  color: #cccccc;
}
.row .profileNavbar hr {
  border-color: white;
}

body {
  overflow: unset;
}

.notEnabled {
  pointer-events: none;
  opacity: 0.4;
}
