.row {
  margin-left: 0px !important;
  margin-right: 0px !important;

  .profileNavbar {
    padding-left: 0px !important;
    padding-top: 20px;
    height: 100vh;
    background-color: #121212;
    overflow: hidden;
    position: fixed;
    display: block;
    .row {
      color: white;
      margin-left: 15px;
      padding-top: 12px !important;
      padding-bottom: 12px !important;
      border-left: 5px solid #121212;
      padding-left: 12px;
    }
    .row:hover {
      border-left: 5px solid #33b986;
    }
    .selectedItem {
      border-left: 5px solid #33b986;
    }
    a {
      text-decoration: none;

      :hover {
        transition: color 0.15s ease-in-out 0s;
        color: rgb(204, 204, 204);
      }
    }
  }
}
body {
  overflow: unset;
}

.notEnabled {
  pointer-events: none;
  opacity: 0.4;
}
hr {
  border-color: lightgrey;
  margin: 0px !important;
  width: 100%;
}
