.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
  
  .profileNavbar {
    padding-top: 20px;
    height: 100vh;
    background-color: #121212;
    overflow: hidden;
    position: fixed;
    display: block;
    .row {
      color: white;
      
    }
    a{
      text-decoration: none;
     
      :hover{
        transition: color 0.15s ease-in-out 0s;
        color: rgb(204, 204, 204);
      }
    }
    hr {
      border-color: white;
    }
  }
}
body {
  overflow: unset;
}

.notEnabled {
  pointer-events: none;
    opacity: 0.4;
}