h1 {
  color: #35c68f;
}
.inputHome {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.containerHome {
  background-color: whitesmoke !important;
  min-height: 100vh;
}

@media screen and (max-width: 576px){
  .inputHome {
    margin-top: 0rem;
    margin-bottom: 1rem;
  }
  h1{
    text-align: center;
  }
  .card{
    text-align: center;
  }

  
 
}
