.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.row .profileNavbar {
  padding-top: 20px;
  height: 100vh;
  background-color: #121212;
  overflow: hidden;
}
.row .profileNavbar .row {
  color: white;
}
.row .profileNavbar hr {
  border-color: white;
}

@media (max-width: 992px) {
  .profileNavbar {
    position: unset !important;
    height: 15vh !important;
  }
}