.linknavbar{
    width: 10% !important;
    li{
        margin-right: 20%;
        a{
            color: rgba(0,0,0,.5);
        }
        a:hover{
            text-decoration: none;
            color: rgba(0,0,0,.7);
        }
    }
}

nav{
    padding-left: 10%;
}