.linknavbar {
  width: 10% !important;
}
.linknavbar li {
  margin-right: 20%;
}
.linknavbar li a {
  color: rgba(0, 0, 0, 0.5);
}
.linknavbar li a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

nav {
  padding-left: 10%;
}