.avatarDiv {
  text-align: -webkit-center;
}
.avatarDiv .avatarImgDiv {
  margin-bottom: 20px;
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
}

.premiumBanner {
  cursor: pointer;
  transition: all 0.15s ease-in-out 0s;
}
.premiumBanner h2 {
  color: #35c68f;
}

.premiumBanner:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
}

.premiumColor {
  color: #f9a825 !important;
}

.editPersonalInfoForm h4 {
  margin-top: 3px;
}
.editPersonalInfoForm h5 {
  margin-top: 2px;
}