.avatarDiv {
  text-align: -webkit-center;
  
  .avatarImgDiv {
    margin-bottom: 20px;
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
  }
}

.editPersonalInfoForm{
    h4{
        margin-top: 3px
}

h5{
    margin-top: 2px;
}}