.addBusinessContainer {
  margin-top: 7px;
  border: 1px lightgrey solid;
  border-radius: 0.5%;
  padding: 10px;
  position: absolute !important;
  z-index: 1;
  background-color: #fafafa;
}
.addBusinessContainer textarea {
  resize: none;
}
.addBusinessContainer input::-webkit-outer-spin-button,
.addBusinessContainer input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.addBusinessContainer .instagramInput {
  background: url("../../../../../icons/instagram.svg") no-repeat scroll 7px 7px;
  background-size: 7%;
  padding-left: 40px;
  padding-right: 30px;
  border-left: none;
  border-top: none;
  border-right: none;
}
.addBusinessContainer .instagramInput:focus {
  box-shadow: none !important;
}
.addBusinessContainer #mapid {
  height: 180px;
}
.addBusinessContainer .mapInput span {
  color: grey;
}
.addBusinessContainer .mapInput input {
  margin-top: 10px;
}
.addBusinessContainer .mapInput button {
  margin-top: 10px;
}
