.cardContainer{
 margin-top: 10px !important;

 
.dogCard {
  width: 18rem;
  margin-top: 15px;
  min-height: 500px;
  a{
    color: white;
  }
  .dogImage {
    height: 200px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top;
  }
}
}