.businessCardMap {
  width: 18rem;
  margin-top: 15px;
  border: none !important;

  a {
    color: white;
  }
  .businessImageMap {
    height: 200px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
  }
}
.modalContainer{
  width: 500px;
.modalImg {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}}
