.mainContainer {
  margin-top: 10px;
}

.buttonAddBusiness {
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.2;
}

.buttonAddBusiness:hover {
  text-decoration: underline !important;
}

.col-2 {
  margin-left: 50px;
}
.col-2 .addBusinessCard {
  align-items: center;
}

.businessCard {
  width: 18rem;
  margin-top: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.businessCard .editButton {
  background-color: #35c68f;
  width: 100%;
  color: white !important;
}
.businessCard .editButton:hover {
  background-color: #33b986;
}
.businessCard .divimagetop {
  height: 200px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}

.businessCard:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.addCard {
  cursor: pointer;
}
